<!-- Header -->
<mat-toolbar class="mat-elevation-z4" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign="space-between center"
  style="background-color: #93B4DA;">
  <a [routerLink]="['../disciplines-register']" style="font-family: roboto;">Cefet RoadMap</a>

  <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" fxLayoutAlign="center center" style="border: none">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-icon-button fxLayoutAlign="start center" color="primary" class="button-configuration"
      [routerLink]="['../settings']">
      <mat-icon>settings</mat-icon>
      <span class="ml-1">Configurações</span>
    </button>
    <button *ngIf="(authService.userAuthentication|async)" mat-icon-button fxLayoutAlign="start center" color="primary"
      class="button-configuration" [routerLink]="['../disciplines-register']"
      (click)="authService.setHiddenAuthentication()">
      <mat-icon>logout</mat-icon>
      <span class="ml-1">Sair</span>
    </button>
    <button *ngIf="!(authService.userAuthentication|async)" mat-icon-button fxLayoutAlign="start center" color="primary"
      class="button-configuration" [routerLink]="['../account']">
      <mat-icon>account_circle</mat-icon>
      <span class="ml-1">Entrar</span>
    </button>
  </mat-menu>
</mat-toolbar>