.wrapper {
  min-width: 25rem;
  .title-popup {
    margin-bottom: 46px;
  }
  .content-popup {
    color: #757575;
    font-weight: 500;

    .line-border-popup {
      margin-top: 16px;
      border-bottom: 1px solid #7575753f;
      width: 100%;
    }
  }
  .select-popup {
    width: 40%;
    height: 2rem;
    overflow: hidden !important;
  }

  .select-checkbox {
    margin-right: 3px;
  }
}
