<div flex class="w-full">
    <ngx-graph
      class="chart-container"
      [view]="[800, 200]"
      [showMiniMap]="true"
      [links]="sampleLinks"
      [nodes]="sampleNodes"
      >


    <ng-template #nodeTemplate let-node>
        <svg:g class="node">
            <svg:rect [attr.width]="180" [attr.height]="30" [attr.fill]="'rgb(147, 180, 218)'" />
            <svg:text alignment-baseline="central" [attr.x]="20" [attr.y]="10">{{node.label}}</svg:text>
        </svg:g>
    </ng-template>

    </ngx-graph>
</div>