
<div class="container">
  <h4 class="text-center">Login - CefetRoadMap</h4>
    	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="form-group">
			<label for="exampleInputEmail1">Email - Matrícula</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Email ou Matrícula">
      <small class="form-text-validator" 
        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
          Por favor digite seu email!
      </small>

      <small class="form-text-validator"
      *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
        Email digitado com formato inválido!
      </small>
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Senha">
    </div>
    <div class="buttons-submit">
      <button type="submit" class="btn btn-primary mr-2" [disabled]="!loginForm.valid">Entrar</button>
      <a routerLink="/sign-up">Registre-se </a>  
    </div>
  </form>
</div>