<div class="m-3 w-full h-full" fxLayout="column" fxLayoutGap="15px">
    <mat-form-field class="w-full min-w-50" fxLayoutAlign="center center">
        <input matInput (keyup.enter)="
        updateResults()
        " [formControl]="searchInputControl" [autocomplete]="'off'" placeholder="Pesquisar disciplina" />
        <button matSuffix mat-icon-button class="icon-size-5">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <div class="w-full min-w-50" fxLayoutAlign="center ">
        <div class="w-75 min-w-50" fxLayout="column" fxLayoutGap="10px">
            <mat-card class="w-full min-w-50 h-full">
                <div *ngIf="filterListDiscipline; else noDisciplines" fxFill fxLayout="column">
                    <ngx-datatable class="material " [rows]="filterListDiscipline"
                        [columnMode]="'force'"  [scrollbarV]="true"  [reorderable]="false"  [selected]="selected" [headerHeight]="40" (activate)="onRowClicked($event)"  [limit]="5">
                        
                        <ngx-datatable-column [width]="3" *ngIf="userAuthenticated">
                            <ng-template
                            ngx-datatable-cell-template
                            let-row="row" >
                                <input
                                fxLayoutAlign="center center"
                                    type="checkbox"
                                    (click)='onSelect(row)'
                                    [checked]="isRowSelected(row.id)"
                                    />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Name" [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                                Nome
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="workload" [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                                <span fxLayoutAlign="center center">Carga Horária</span>
                            </ng-template>
                            <ng-template let-column="workload">
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <span fxLayoutAlign="center center">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="descriptionDiscipline" [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                                <span fxLayoutAlign="center center">Tipo da disciplina</span>
                            </ng-template>
                            <ng-template let-column="descriptionDiscipline">
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <span fxLayoutAlign="center center">{{value ?? 'Obrigatória'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column *ngIf="(authService.userAuthentication|async)" name="status"
                            [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                                <span fxLayoutAlign="center center">Status</span>
                            </ng-template>
                            <ng-template let-column="status">
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <span fxLayoutAlign="center center">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column  name="nameCourse"
                        [flexGrow]="1.5">
                        <ng-template ngx-datatable-header-template>
                            <span fxLayoutAlign="center center">Curso</span>
                        </ng-template>
                        <ng-template let-column="nameCourse">
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                            <span fxLayoutAlign="center center">{{value}}</span>
                        </ng-template>
                    </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </mat-card>
            <div fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="(authService.userAuthentication|async)" class="buttons-group">
                <button mat-button style="background-color: #2fd48a;" (click)="emitCompleted()">Concluída</button>
                <button mat-button style="background-color: #c97924;" (click)="emitStudying()">Cursando</button>
                <button mat-button style="background-color: #D9D9D9;" (click)="openDialog()">Cadastrar
                    disciplina</button>
            </div>
        </div>
    </div>

    <ng-template #noDisciplines>
        <div class="text-center">Não possui disciplinas cadastradas</div>
    </ng-template>
</div>