<div class="m-3 w-full h-full" fxLayout="column" fxLayoutGap="15px">
    <mat-form-field class="w-full min-w-50" fxLayoutAlign="center center">
        <input matInput (keyup.enter)="
        updateResults()
        "[formControl]="searchInputControl" [autocomplete]="'off'" placeholder="Pesquisar disciplina" />
        <button matSuffix mat-icon-button class="icon-size-5">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <div class="w-full min-w-50" fxLayoutAlign="center stretch">
        <div class="w-75 min-w-50" fxLayoutAlign="end stretch" fxLayout="column" fxLayoutGap="15px">
            <mat-card class="w-full min-w-50 h-full">
                <div *ngIf="listDiscipline; else noDisciplines" fxFill fxLayout="column">
                    <ngx-datatable class="material scrolling" [ngClass]="tablestyle" [rows]="listDiscipline"
                        [columnMode]="'force'" [scrollbarH]="true" [scrollbarV]="true" [reorderable]="false">

                        <ngx-datatable-column name="Name" [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                                Nome
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="workload" [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                               <span fxLayoutAlign="center center">Carga Horária</span>
                            </ng-template>
                            <ng-template let-column="workload">
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <span fxLayoutAlign="center center">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="description" [flexGrow]="1.5">
                            <ng-template ngx-datatable-header-template>
                                <span fxLayoutAlign="center center">Descrição</span>
                            </ng-template>
                            <ng-template let-column="description">
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <span fxLayoutAlign="center center">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </mat-card>
            <div fxLayoutAlign="end center">
                <button mat-button style="background-color: #D9D9D9;" (click)="openDialog()">Cadastrar
                    disciplina</button>
            </div>
        </div>
    </div>




    <ng-template #noDisciplines>
        <div class="text-center">Não possui disciplinas cadastradas</div>
    </ng-template>
</div>